
<div class=' title'>
  <h1 class='text-center title-text'>Mongo Scraper <br> New York Times Edition</h1>
</div>

<div id='article-container' class='container-fluid'>
  <div id='articles'></div>
    {{!-- {{}} --}}
</div>
