.nav-item{
  margin-left: 5px;
}

.nav-link{
  max-width: 100%;
}

.title{
  background-image: url('./snowman.jpg');
  background-size: cover;
  /* height: 500px; */
  color: white;
  padding: 200px
}

.title-text{
  font-weight: 800;
  font-size: 48px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
