li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.burgerTop{
  text-align: center;

}
.toonBurger{
  text-align: center;
  height: 180px;

}
.jumbotron{
  border: 2px red solid;
}

.burgers{
  margin: 5px;
}

.eat{
  margin: 5px;
}